@use './fonts.scss';

.custom-select {
  position: relative;

  select {
    appearance: none;
    width: 100%;
    font-size: 16px;
    font-family: 'Manrope', serif;
    padding: 0.675em 3.8em 0.675em 1.5em;
    border: 2px rgb(207, 222, 227) dashed;
    border-radius: 0.5rem;
    color: #22222a96;
    cursor: pointer;
  }


  &::before,
  &::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }

  &::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgb(135, 178, 208);
    top: 50%;
  }

  /* Styles when a valid option is selected (other than placeholder) */
  &.select-valid select {
    border-color: rgb(135, 178, 208);
  }
}

#week-select {
  padding-bottom: 12.3px;
}

//STYLES FOR AUTOCOMPLETE DROPDOWN 

.search-block {
  // flex: 1 1 400px;
  position: relative;

  &__body {
    position: relative;
  }

  &__wrap-input {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px rgb(207, 222, 227) dashed;
    background-color: #fff;
    overflow: auto;
  }

  &__input {
    width: 100%;
    font-size: 16px;
    font: inherit;
    font-family: 'Manrope', serif;
    font-style: normal;
    color: inherit;
    border-radius: 0;
    appearance: none;
    padding: 0.675em 3.8em 0.675em 1.5em;
    outline: none;
    border: none;
  }

  &__products {
    opacity: 0;
    visibility: hidden;
    max-height: 230px;
    border-radius: 0.5rem;
    position: absolute;
    top: 100%; //чтобы был под инпутом
    margin-top: 5px; //отступ от инпута
    left: 0;
    width: 100%;
    background-color: #fff;
    border: rgb(207, 222, 227) 2px dotted;
    list-style: none;
    overflow: auto;
    z-index: 1000;

    li {
      font-family: 'Manrope', sans-serif;
      padding: 10px;
      transition: all 0.2s ease 0s; // СПОРНО 
      
      cursor: pointer;
      &:hover {
        background-color: rgba(104, 165, 206, 0.218);
      }

      text-decoration: none;
      color: rgb(242, 240, 240)
    }

    a {
      all: unset; // Сбрасываем все стили
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-family: 'Manrope', sans-serif;
      color: #1a1b1c;
      
      // Восстанавливаем нужные свойства
      font-size: 16px;
      box-sizing: border-box;
    }
  }

  
  &__products::-webkit-scrollbar {
    background-color: rgba(140, 190, 246, 0.275);
    height: 7px;
    width: 7px;
    border-radius: 10px;
  }
  
  &__products::-webkit-scrollbar-thumb { // для стилизации ползунка
    background-color: rgba(140, 190, 246, 0.286);
    border-radius: 10px;
  }

  &__body.active-search &__products {
    opacity: 1;
    visibility: visible;
  }



}