@use './normalize.scss';
@use './variables.scss';
@use './fonts.scss';
@use './dropdown.scss';
@use './homepage.scss';
@use './table.scss';
@use './dialog.scss';

.header {
  width: auto;
  margin-inline: 10px;
}

.nav {
  width: auto;
  height: 70px;
  margin-left: auto;

  &_logo {
    padding-top: 7px;
    width: 100%;
    max-width: 175px;
    padding-right: auto;
    transition: all 0.3s ease 0s;

    @media (max-width: 1200px) {
      margin-left: -16px;
    }
  }

  &_item {
    display: inline-block;
    padding-inline: 15px;
    padding-top: 1rem;
    font-family: 'Manrope', serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.08em;
    color: #292833;

    a {
      color: #292833;

      @media (max-width: 1200px) {
        font-size: 20px;
      }

      @media (max-width: 1100px) {
        font-size: 18px;
        position: relative;
        bottom: 1px;
      }
    }
  }
  
  img {
    @media (max-width: 1200px) {
      scale: 0.85;
    }
  
  }
  
  
}

.nav_list {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.selected {
  font-weight: 700;
}

.links {

  .nav_item:not(.nav_logo) a,
  .toggle,
  .profile-icon {
    transition: all 0.3s ease 0s;
  }

  .nav_item:not(.nav_logo) {
    a:hover {
      color: rgb(180, 211, 220);
    }
  }

  .profile-icon {
    margin: -3px 0 0 0;
  }

  .toggle {
    margin: 20px 0 0 0;
    @media (max-width: 1200px) {
      margin-left: 8px;
    }
    @media (max-width: 1100px) {
      margin-left: 6px;
    }
  }
}

body {
  width: auto;
  height: auto;
  min-height: 1750px;
  background: linear-gradient(180deg, rgba(244, 247, 252, 0.8) 8%, rgba(98, 170, 255, 0.8) 75%);
}

.main-content {
  margin: 28px 0 0 25px;

  // .options, 
  // .tip{
  //   @media (max-width: 1200px){
  //     width: 80%;
  //   }
  // }

  .options {


    display: flex;
    gap: 30px;



    .corpuses {
      padding-left: -2px;

      p {

        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        // font-size: 16px;
        letter-spacing: 0.06em;
        color: rgba(29, 29, 33, 0.10);
        transition: all 0.7s ease 0s;

        @media (max-width: 1200px) {
          font-size: 12px;
        }
      }
    }
  }

  .tip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // background: rgba(255, 255, 255, 0.8);
    background-image: url('../static/tip-bg.png');
    border: 2px rgb(207, 222, 227) dashed;
    border-radius: 8px;
    width: 578px;
    height: 132px;
    margin-top: 20px;

    &_arrow {
      position: relative;
      // right: 725px;
      margin-bottom: 30px;
      margin-right: 30px;
    }

    &_text {
      display: inline-block;
      align-items: center;

      p {

        font-family: 'Manrope';
        font-weight: 500;
        font-size: 16px; 
        line-height: 140%;
        letter-spacing: 0.09em;
        text-align: center;
        color: rgba(41, 40, 51, 0.5);
      }
    }

    img {
      user-select: none;
    }
  }

}