@use './normalize.scss';
@use './fonts.scss';
@use './dropdown.scss';
@use './homepage.scss';

.header {
  width: auto;
  margin-inline: 10px;
}

.nav {
  width: auto;
  height: 70px;
  margin-left: auto;

  &_logo {
    padding-top: 7px;
    width: 100%;
    max-width: 175px;
    padding-right: auto;
  }

  &_item {
    display: inline-block;
    padding-inline: 15px;
    padding-top: 1rem;
    font-family: 'Manrope', serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.08em;
    color: #292833;
  }

  a {
    color: #292833;
  }
}

.nav_list {
  width: auto;
  display: flex;
  justify-content: space-between;
}

.selected {
  font-weight: 700;
}

.links {

  .nav_item:not(.nav_logo) a,
  .toggle,
  .profile-icon {
    transition: all 0.3s ease 0s;
  }

  .nav_item:not(.nav_logo) {
    a:hover {
      color: rgb(180, 211, 220);
    }

    .toggle:hover {
      stroke: rgb(237, 219, 85);
    }
  }



  .profile-icon {
    margin: -3px 0 0 0;
  }

  .toggle {
    margin: 20px 0 0 0;
  }
}

body {
  width: auto;
  height: auto;
  min-height: 1200px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 8%, rgba(98, 170, 255, 0.8) 75%);
}

.main-content {
  margin: 28px 0 0 25px;

  .options {
    display: flex;
    gap: 30px;

    .corpuses {
      padding-left: -2px;

      p {
        font-family: 'Manrope', sans-serif;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.06em;
        color: rgba(29, 29, 33, 0.10);
      }
    }
  }

  .tip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    // background: rgba(255, 255, 255, 0.8);
    background-image: url('../static/tip-bg.png');
    border: 2px rgb(207, 222, 227) dashed;
    border-radius: 8px;
    width: 572px;
    height: 132px;
    margin-top: 20px;

    &_arrow {
      position: relative;
      // right: 725px;
      margin-bottom: 30px;
      margin-right: 30px;
    }

    &_text {
      display: inline-block;
      align-items: center;

      p {

        font-family: 'Manrope';
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.09em;
        text-align: center;
        color: rgba(41, 40, 51, 0.5);
      }
    }
    img{
      user-select: none;
    }
  }

}


.table {

  margin-top: 25px;
  border-collapse: collapse;
  width: 98.25%;
  border: #bce7ff;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: 'Manrope', sans-serif;
  box-shadow: 10px 10px 10px 10px rgba(2, 0, 0, 0.1);

  thead {
    height: 60px;

    tr:not(.table) {
      background-color: rgba(46, 110, 205, 0.2);
      text-align: left;

    }

    th {
      p:first-child {
        font-weight: normal;
        font-size: small;
      }
    }
  }

  th:first-child {
    font-weight: 300;
    font-size: smaller;
  }

  th,
  td {
    padding: 12px 0;
    padding-left: 10px;
    &:first-child{
      text-align: left;
      font-weight: bold;
      p:last-child{
        font-size: 14px;
        font-weight: normal;
      }
    }
    
  }

  tbody {
    background-color: #ffffff;

    tr {
      border-bottom: 1px solid #dddddd;
    }

    tr:last-of-type {
      border-bottom: 2px solid rgba(46, 110, 205, 0.3);

    }
  }


}