@use './variables.scss' as *;

.auth {

    img {
        scale: 2;
    }

    font-family: Manrope, serif;
    
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 10px;
    margin: auto;
    background: white;
    width: 520px;
    
    padding-bottom: 30px;
    
    border-radius: 8px;
    border: 2px solid $light-blue;
    
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-top: 30px;
    }
    .text {
        color: $light-grey;
        font-size: 36px;
        font-weight: 500;
    }
    
    &__inputs {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        gap: 12px;   
        .input {
            display: flex;
            align-items: center;
            margin: auto;
            width: 480px; // 
            height: 70px; // 
            background-color: rgb(232, 243, 255);
            border-radius: 6px;
            img {
                margin: 0px 30px;
            }
            input {
                height: 50px;
                width: 380px;
                background: rgb(232, 243, 255);

                border: none;
                outline: none;
                color: $grey;
                font-size: 18px;
            }
            
        }
    }

    .forgot-password {
        padding-left: 22px;
        color: $grey;
        font-size: 16px;
    }

    span {
        color: $great-blue;
        cursor: pointer;
    }

    &__submit {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-inline: auto;
        margin-top: 20px; 
        margin-bottom: 20px;

        &__btn {
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 70px ;
            color: $grey;
            background-color: #ebebeb;
            border-radius: 32px;
            border: 2px solid rgb(232, 243, 255);
            font-size: 24px;
            font-weight: 700;
            cursor: pointer;
        }
    }

    div:last-child {
        text-align: center;
        color: $grey;
    }

    &__error{
        color: #c42d2dcc;
        font-size: 12px;
        padding: 0;
        text-align: left;
        margin-right: 2px;
        width: 150px;
    }
}









