@use './variables.scss' as *;

.auth {
    &.dark {
        background: $dark4;
        border-color: $dark7;
        .auth__header__text {
            color: $light-white1 !important;
        }
        input {
            accent-color: $deep-blue !important;
        }
    }

    img {
        scale: 2;
        @media (max-width: 600px) {
            scale: 1.5;
        }
    } // icons
    
    font-family: Manrope, serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    background: $table-white;
    width: 520px;
    padding-bottom: 30px;
    border-radius: 8px;
    border: 1px solid $light-blue;
    @media (max-width: 600px) {
        width: 80%;
        .input-div, input:not([type='checkbox']) {
            width: 80% !important;
            font-size: 14px !important;
        }
        
        .alternative {
            font-size: 14px !important;
        }

    } 
    
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-top: 30px;
        @media (max-width: 600px) {
            margin-top: 20px;
            margin-bottom: -12px;
        }
        &__text {
            color: $dark1 !important;
            font-size: 32px;
            font-weight: 500;
            @media (max-width: 600px) {
                font-size: 26px;
            }
            @media (max-width: 500px) {
                font-size: 24px;
            }
        }
    }
    
    &__inputs {
        margin-top: 36px;
        display: flex;
        flex-direction: column;
        gap: 12px;   
        font-size: 18px;
        .input-div {
            display: flex;
            align-items: center;
            margin: auto;
            width: 480px; 
            height: 70px; 
            background: $field-grey;
            &.dark {
                background: $dark7;
            }
            border-radius: 6px;
            img {
                margin: 0px 30px;
            }
            input {
                height: 50px;
                width: 380px;
                background: $field-grey;
                border: none;
                outline: none;
                color: $grey1;
                font-size: 18px;

                &:-webkit-autofill,
                &:-webkit-autofill:hover,
                &:-webkit-autofill:focus,
                &:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 1000px $field-grey inset !important; // фон
                    -webkit-text-fill-color: $grey1 !important; // цвет текста (плейсхолдера)
                    transition: background-color 1000s ease-in-out 0s; // чтобы не мигал
                }

                // чтоб текст нужного щрифта вставлялся
                &:-webkit-autofill::first-line {
                    font-family: Manrope, serif !important;
                    font-size: 18px !important;
                }

                @media (max-width: 600px) {
                    &:-webkit-autofill::first-line {
                        font-family: Manrope, serif !important;
                        font-size: 14px !important;
                    }
                }
                
                &.dark {
                    background: $dark7;
                    color: $light-white1;
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover,
                    &:-webkit-autofill:focus,
                    &:-webkit-autofill:active {
                        -webkit-box-shadow: 0 0 0 1000px $dark7 inset !important; //  фон
                        -webkit-text-fill-color: $light-white1 !important; // цвет текста (плейсхолдера)
                        transition: background-color 1000s ease-in-out 0s; // чтобы не мигал
                    }
                }
            }
            
        }
    }

    .pwd-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        .forgot-password {
            margin-left: 4%;
            color: $grey1;
            font-size: 16px;
        }
        @media (max-width: 600px) {
            .forgot-password {
                margin-left: 10%;
                font-size: 12px !important;
            }
        }
    }

    span {
        color: $great-blue;
        cursor: pointer;
    }

    &__submit {
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-inline: auto;
        margin-top: 20px; 
        margin-bottom: 20px;

        &__btn {
            color: $grey1;
            background-color: $field-grey;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 12px 70px ;
            border-radius: 32px;
            border: 1px solid $light-white2;
            font-size: 24px;
            font-weight: 500;
            cursor: pointer;
            
            &.dark {
                color: $light-grey1; 
                background-color: $dark7;
                border: $dark-grey2;
            }


            @media (max-width: 600px) {
                font-size: 20px !important;
                width: 80%;
                margin-top: 0px;
                @media (max-width: 500px) {
                    font-size: 16px;
                }
            }
        }
    }

    div:last-child {
        text-align: center;
        color: $grey1;
    }

    &__error{
        color: #c42d2dcc;
        font-size: 12px;
        padding: 0;
        text-align: left;
        margin-right: 2px;
        width: 30%;
        @media (max-width: 600px) {
            font-size: 10px;
        }
    }

    .checkbox-block {
        display: flex;
        flex-direction: column;
        align-content: left;
        margin: auto;
        width: 480px; 
        height: 70px;

        &__checkbox {
            padding: 4px 0;
            input {
                accent-color: $great-blue;
                margin-right: 4px;
            }

            text-align: left !important;

            &__label {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
            }

            &__error {
                margin: -8px 0;
                &:last-child{
                    margin-top: -4px;
                }
                span {
                    color: #c42d2dcc !important;
                }
            }
        }
        span {
            color: $grey1;
            font-size: 14px;
        }

        a { 
            color: $deep-blue;
        }

        &.dark span {
            color: $light-white1;
        }

        @media (max-width: 600px) {
              width: 80%;
              height: auto;
              gap: 4px;
              span {
                font-size: 12px;
                display: inline-block;
                word-break: break-word;
                margin-left: 0;
              }
            }

        
    }
    
}









