@use './fonts.scss';
@use './variables.scss' as *;

.error-message {
  transition: all 0.3s ease 0s;
  text-align: center;
  width: 578px;
  font-family: 'Manrope', sans-serif;
  background: #fff5f5;
  border: 2px dotted #fed7d7;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  color: #ac3d3d;
  
}





.custom-dropdown {
  position: relative;

  &::before,
  &::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }

  &::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgb(135, 178, 208);
    top: 50%;
  }
  
  &.dark {
    &::after {
      border-top: var(--size) solid rgb(141, 154, 163);
    }
  }
}

//STYLES FOR AUTOCOMPLETE DROPDOWN 

.search-block,
.select-block, 
.custom-dropdown {

  input#select-input, 
  input#search-input {
    background-color: $table-white;
  }

  &.dark {
    input#select-input, 
    input#search-input {
      background-color: $dark3;
      color: $light-grey;
      
      &::placeholder {
        color: $light-grey;
      }
    } 

   

    ul {
      
      li {
        background-color: $dark5;
        &:hover {
          background-color: $light-grey;
          a {
            color: $dark5;
          }
        }
        a {
          color: $light-grey;
        }
      }
    }
  }

  ul{
    transition: all 0.1s ease 0.1s;
  }

  &__body.active-search &__wrap-input {
    transition: all 0.1s cubic-bezier(0.3, 0.8, 0.3, 2.3) 0.1s;
    border-color: rgb(104, 165, 206); // при активном состоянии

    &.dark {
      border-color: rgb(152, 181, 196); 
    }
  }

  position: relative;

  &__body {
    position: relative;
  }

  &__wrap-input {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px $light-blue dashed;
    background-color: #fff;
    
    &.dark {
      background-color: $dark3;
      border: 2px $dark7 dashed;
      border-radius: 0.5em;
    }
  }

  &__input {
    width: 100%;
    font-size: 16px;
    font: inherit;
    font-family: 'Manrope', serif;
    font-style: normal;
    color: inherit;
    border-radius: 0;
    appearance: none;
    outline: none;
    border: none;

    padding: 0.675em 3.8em 0.675em 1.5em;
    @media (max-width: 1100px) {
      font-size: 12px;
      padding: 0.675em 1.25em 0.675em 1.75em;
    }
  }

  &__elements {
    opacity: 0;
    visibility: hidden;
    max-height: 32vmax;
    border-radius: 0.5rem;
    border: $light-blue 2px dotted;
    position: absolute;
    top: 100%; //чтобы был под инпутом
    margin-top: 5px; //отступ от инпута
    width: 100%;
    background-color: #fff;
    list-style: none;
    overflow-y: auto !important;
    z-index: 1000;

    
    &.dark {
      border: $dark1 2px solid;
    }
    
    li {
      cursor: pointer;
      font-family: 'Manrope', sans-serif;
      padding: 10px;
      transition: all 0.3s ease 0s; 
      text-decoration: none;
      color: rgb(242, 240, 240);

      &:hover {
        background-color: rgba(104, 165, 206, 0.218);
      }
      
      @media (max-width:1100px) {
        padding: 6px;
        a {
          font-size: 12px;
        }
      }
    }

    a {
      all: unset; // Сбрасываем все стили
      display: block;
      width: 100%;
      height: 100%;
      font-family: 'Manrope', sans-serif;
      color: #1a1b1c;

      // Восстанавливаем нужные свойства
      font-size: 16px;
      box-sizing: border-box;

      
    }
  }

  &__body.active-search &__elements {
    opacity: 1;
    visibility: visible;

  }

  &__elements {
    // для стилизации ползунка
    &::-webkit-scrollbar{ 
      display: block !important;
      background-color: rgba(140, 190, 246, 0.275);
      height: 7px;
      width: 7px;
      border-radius: 10px;
    }
    scrollbar-color: red;
    &.dark::-webkit-scrollbar {
      background-color: $grey;;
    }
    // для стилизации ползунка на мобильных
    &::-webkit-scrollbar-thumb {
      background-color: rgba(140, 190, 246, 0.286);
      border-radius: 10px;
    }
    &.dark::-webkit-scrollbar {
      background-color: $grey;
    }
  }

  



}

#select-input{
  cursor: pointer;
} 


