@use './fonts.scss';
@use './variables.scss' as *;

input#select-input, 
input#search-input {
  background-color: #f4f9fecd;
} 


.error-message {
  transition: all 0.3s ease 0s;
  text-align: center;
  width: 578px;
  font-family: 'Manrope', sans-serif;
  background: #fff5f5;
  border: 2px dotted #fed7d7;
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0;
  color: #ac3d3d;
  
}





.custom-dropdown {
  position: relative;

  select {
    appearance: none;
    width: 100%;
    font-size: 16px;
    font-family: 'Manrope', serif;
    padding: 0.675em 3.8em 0.675em 1.5em;
    border: 2px $light-blue dashed;
    border-radius: 0.5rem;
    color: #22222a96;
    cursor: pointer;
  }


  &::before,
  &::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 1rem;
    pointer-events: none;
  }

  &::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid rgb(135, 178, 208);
    top: 50%;
  }
}

//STYLES FOR AUTOCOMPLETE DROPDOWN 

.search-block,
.select-block, 
.custom-dropdown {
  

  ul{
    transition: all 0.1s ease 0.1s;
  }

  &__body.active-search &__wrap-input {
    transition: all 0.1s cubic-bezier(0.3, 0.8, 0.3, 2.3) 0.1s;
    border-color: rgb(104, 165, 206); // Подсветка при активном состоянии
  }

  position: relative;

  &__body {
    position: relative;
  }

  &__wrap-input {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    border: 2px $light-blue dashed;
    background-color: #fff;
    overflow: auto;
  }

  &__input {
    width: 100%;
    font-size: 16px;
    font: inherit;
    font-family: 'Manrope', serif;
    font-style: normal;
    color: inherit;
    border-radius: 0;
    appearance: none;
    padding: 0.675em 3.8em 0.675em 1.5em;
    outline: none;
    border: none;
  }

  &__elements {
    opacity: 0;
    visibility: hidden;
    max-height: 400px;
    border-radius: 0.5rem;
    position: absolute;
    top: 100%; //чтобы был под инпутом
    margin-top: 5px; //отступ от инпута
    left: 0;
    width: 100%;
    background-color: #fff;
    border: $light-blue 2px dotted;
    list-style: none;
    overflow: auto;
    z-index: 1000;

    li {
      font-family: 'Manrope', sans-serif;
      padding: 10px;
      transition: all 0.3s ease 0s; 

      cursor: pointer;

      &:hover {
        background-color: rgba(104, 165, 206, 0.218);
      }

      text-decoration: none;
      color: rgb(242, 240, 240)
    }

    a {
      all: unset; // Сбрасываем все стили
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;
      font-family: 'Manrope', sans-serif;
      color: #1a1b1c;

      // Восстанавливаем нужные свойства
      font-size: 16px;
      box-sizing: border-box;
    }
  }


  &__elements::-webkit-scrollbar {
    background-color: rgba(140, 190, 246, 0.275);
    height: 7px;
    width: 7px;
    border-radius: 10px;
  }

  &__elements::-webkit-scrollbar-thumb {
    // для стилизации ползунка
    background-color: rgba(140, 190, 246, 0.286);
    border-radius: 10px;
  }

  &__body.active-search &__elements {
    opacity: 1;
    visibility: visible;
  }


}

//STYLES FOR DATES SELECTION

#select-input{
  cursor: pointer;
}