.tip {
  transition: opacity 0.4s cubic-bezier(0.1, -0.6, 0.2, 0);
  opacity: 1;
  // Через микро-задержку скрываем
  &:not(.active) {
    opacity: 0;
    position: absolute;
  }

  &.active {
    opacity: 1;
  }

  &__inner {
    transition: transform 0.3s cubic-bezier(0.3, 0.8, 0.3, 2.3) 0s;
  }

  &__inner:hover {
    transform: translateY(1px);
  }
}


.toggle,
.toggle-bg {
  display: inline-block;
}


.toggle { 
  position: relative;
  padding-bottom: 10px;
  padding-inline: 8px; 
  margin-top: 24px;
  &.mobile {
    top: 0;
    position: relative;
    right: 35px;
  }
}


#toggle-icon,
#toggle-icon-dark { 
  position: absolute;
  transition: all 0.3s ease 0s;
}

#toggle-icon{
  top: -4px;
  right: 23px;
}

#toggle-icon-dark {
  top: 1px;
  right: 13px;
}

#toggle-icon:hover {
  transform: translate3d(3px, 0, 20px) rotateY(20deg) perspective(500px);
}
#toggle-icon-dark:hover {
  transform: translate3d(-3px, 0, 20px) rotateY(20deg) perspective(500px);
}

@keyframes loadingAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loading-indicator{ 
  opacity: 0;
  animation: loadingAppear 0.1s forwards;
  transition: all 0.1s ease 0s;
  position: absolute;
  top: 47%;
  left: 46.5%;
  scale: 2;
}