@use './variables.scss' as *;


.news-container {
  margin-top: 16px;
  padding-inline: 25px;
  @media (max-width: 1000px) {
    padding-inline: 15px;
  }
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: 'Manrope', serif;
  color: $dark4;

  
  &.dark {
    color: $light-white1;
  }
  
  img {
    min-width: 24px; 
    @media (max-width: 600px) {
      scale: 1.5;
      margin-inline: 8px;
    }
  }
  p {
    font-size: 18px;
    margin: 0 0 2px 2px;
  }

  a {
    cursor: pointer;
    color: $light-blue;
    &.dark {
      color: $light-white1;
    }
  }
  &__link {
    color: $great-blue !important;
   
  }
}