@mixin display-if-active {
  &:not(.active) {
    opacity: 0;
  }

  &.active {
    opacity: 0.95;
    transition: all 0.3s ease 0s;
  }
}

.toggle,
.toggle-bg {
  display: inline-block;
}


.toggle {
  position: relative;
  padding-bottom: 10px;
  padding-inline: 8px;
  margin-top: 24px;

  &.mobile {
    top: 0;
    position: relative;
    right: 35px;
  }
}


#toggle-icon,
#toggle-icon-dark {
  position: absolute;
  transition: all 0.3s ease 0s;
}

#toggle-icon {
  top: -4px;
  right: 23px;
}

#toggle-icon-dark {
  top: 1px;
  right: 13px;
}

#toggle-icon:hover {
  transform: translate3d(3px, 0, 20px) rotateY(20deg) perspective(500px);
}

#toggle-icon-dark:hover {
  transform: translate3d(-3px, 0, 20px) rotateY(20deg) perspective(500px);
}



.notes-toggle-container {
  margin-left: auto;
  cursor: pointer;
  @include display-if-active;

  img {
    transition: all 0.3s ease 0s;

    &:hover {
      filter: brightness(1.05);
      scale: 1.03;
    }
  }

  &.mobile {
    position: fixed;
    scale: 1.2;
    bottom: 4vh;
    right: 5vw;
  }
}