$lec: #21852d86;
$upr: #1c4ba183;
$lab: #a11c8b81;
$light-blue: rgb(207, 222, 227); // для dashed border
$great-blue: #62abff;
$blue: #7fbafe;
$deep-blue: #0F60D9;
$dark-grey: #26272a;
$grey: #5b5b5b;
$light-grey: #878787;


$table-white: rgba(251, 251, 251);
$light-white: #d2d2d2;

$dark1: #454548;
$dark2: #0d0d0f;
$dark3: #141417;
$dark4: #19191c; 
$dark5: #181719;
$dark6: #2a2a2c;

$body-top: #101012;
$body-bottom: #18181c;