<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    {# <link rel="stylesheet" href="../static/sass/styles.css" /> #}
    <link href="{{ url_for('static', path='../static/sass/styles.css') }}" rel="stylesheet">
  </head>

  <body>
    {% block body %} 

    {% block header %} 
    {% endblock header %}

    {% block tip %}
    {% endblock tip %} 

    {% endblock body %}
    <script src="../static/js/script.js"></script>
    <script src="../static/js/xhr.js"></script>
  </body>
</html>
