<div class="column width-3">
  <div class="field "><label><span class="label">Номер группы</span>
      <div class="select-autocomplete"><input type="hidden" name="group" value="1639"><input type="text"
          autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-haspopup="listbox"
          aria-expanded="false" class="select-autocomplete" id="field-group" placeholder="-- Не выбрана --"><i
          class="mdi"></i>
        <div class="select-autocomplete-options-cont">
          <ul role="listbox" style="display: none; bottom: auto; top: 100%;">
            <li data-value="0">-- Не выбрана --</li>
            <li data-value="1630">540</li>
            <li data-value="1631">540М</li>
            <li data-value="1632">541</li>
            <li data-value="1637">542</li>
            <li data-value="1639">543</li>
            <li data-value="1640">543М</li>
            <li data-value="1641">544</li>
            <li data-value="1642">544М</li>
            <li data-value="1643">545</li>
            <li data-value="1644">545М</li>
            <li data-value="1645">546</li>
            <li data-value="1647">546М</li>
            <li data-value="1648">547</li>
            <li data-value="1649">548</li>
            <li data-value="1650">548М</li>
            <li data-value="1289">5044</li>
            <li data-value="1290">5045</li>
            <li data-value="1652">5045М</li>
            <li data-value="1655">5410М</li>
            <li data-value="1633">5413</li>
            <li data-value="1634">5413М</li>
            <li data-value="1635">5414</li>
            <li data-value="1636">5415</li>
            <li data-value="1638">5423</li>
            <li data-value="1646">5425</li>
            <li data-value="1654">5845М</li>
            <li data-value="884">340М</li>
            <li data-value="886">343М</li>
            <li data-value="887">345М</li>
            <li data-value="888">346М</li>
            <li data-value="889">348М</li>
            <li data-value="871">440</li>
            <li data-value="862">440М</li>
            <li data-value="872">441</li>
            <li data-value="877">442</li>
            <li data-value="878">443</li>
            <li data-value="864">443М</li>
            <li data-value="879">444</li>
            <li data-value="880">445</li>
            <li data-value="865">445М</li>
            <li data-value="881">446</li>
            <li data-value="866">446М</li>
            <li data-value="882">447</li>
            <li data-value="883">448</li>
            <li data-value="867">448М</li>
            <li data-value="229">3040М</li>
            <li data-value="885">3413М</li>
            <li data-value="221">4044</li>
            <li data-value="220">4046</li>
            <li data-value="214">4046М</li>
            <li data-value="873">4413</li>
            <li data-value="863">4413М</li>
            <li data-value="875">4414</li>
            <li data-value="876">4415</li>
            <li data-value="874">4423</li>
            <li data-value="868">4840М</li>
            <li data-value="869">4845М</li>
            <li data-value="894">340</li>
            <li data-value="895">341</li>
            <li data-value="899">342</li>
            <li data-value="900">343</li>
            <li data-value="901">344</li>
            <li data-value="902">345</li>
            <li data-value="903">346</li>
            <li data-value="904">347</li>
            <li data-value="905">348</li>
            <li data-value="906">2845М</li>
            <li data-value="234">3040</li>
            <li data-value="235">3044</li>
            <li data-value="896">3413</li>
            <li data-value="897">3414</li>
            <li data-value="898">3415</li>
            <li data-value="890">3840М</li>
            <li data-value="891">3845М</li>
            <li data-value="892">3846М</li>
            <li data-value="920">140</li>
            <li data-value="926">143</li>
            <li data-value="927">144</li>
            <li data-value="928">145</li>
            <li data-value="929">146</li>
            <li data-value="930">148</li>
            <li data-value="908">240</li>
            <li data-value="909">241</li>
            <li data-value="913">242</li>
            <li data-value="914">243</li>
            <li data-value="915">244</li>
            <li data-value="916">245</li>
            <li data-value="917">246</li>
            <li data-value="918">247</li>
            <li data-value="922">1411</li>
            <li data-value="923">1413</li>
            <li data-value="924">1415</li>
            <li data-value="244">2044</li>
            <li data-value="245">2048</li>
            <li data-value="910">2413</li>
            <li data-value="911">2414</li>
            <li data-value="912">2415</li>
            <li data-value="931">041</li>
            <li data-value="932">042</li>
            <li data-value="265">0044</li>
            <li data-value="266">0048</li>
            <li data-value="921">141</li>
            <li data-value="925">142</li>
            <li data-value="253">1040</li>
            <li data-value="1063">ГШП1</li>
            <li data-value="1064">ГШП2</li>
            <li data-value="1065">ГШП3</li>
            <li data-value="1066">ГШП4</li>
            <li data-value="1067">ГШП5</li>
            <li data-value="1068">ГШП6</li>
            <li data-value="1069">ГШП7</li>
            <li data-value="1659">ГШП8</li>
          </ul>
        </div>
      </div>
    </label></div>
</div>