<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>параграф | журнал</title>
  <link href="./static/sass/styles.css" rel="stylesheet" />
</head>

<body>
  <header class="header">
    <nav class="nav">
      <ul class="nav_list">
        <li class="nav_item">
          <a href="#">
            <img class="nav_logo" src="../static/static/logoAndText.svg" alt="Logo" />
          </a>
        </li>
        <div class="links">
          <li class="nav_item"><a href="#">журнал</a></li>
          <li class="nav_item"><a href="#">новости</a></li>
          <li class="nav_item"><a href="#">о проекте</a></li>

          <div class="toggle">
            <img id="toggle-bg" src="../static/static/toggle-bg.svg" alt="Toggle" />
          </div>
          <img id="toggle-sun" src="../static/static/toggle-sun.svg" alt="Toggle" />
          <img src="../static/static/ProfileIcon.svg" alt="Profile" class="profile-icon nav_item" />
        </div>
      </ul>
    </nav>
  </header>

  <div class="main-content">
    <div class="options">
      <div class="group">
        <div class="custom-dropdown">
          <div class="search-block">
            <div class="search-block__body">
              <div class="search-block__wrap-input">
                <input type="text" id="search-input" placeholder="номер группы" class="search-block__input" />
              </div>
              <ul class="search-block__elements" id="products"></ul>
            </div>
          </div>
        </div>
      </div>
      <div class="week">
        <div class="custom-dropdown">
          <div class="select-block">
            <div class="select-block__body">
              <div class="select-block__wrap-input">
                <input readonly type="text" id="select-input" placeholder="дата/неделя" class="select-block__input" />
              </div>
              <ul class="select-block__elements" id="dates"></ul>
            </div>
          </div>
        </div>
      </div>
      <div class="corpuses">
        <p>C - Центральный корпус⠀⠀⠀⠀B - Бизнес-инкубатор</p>
        <p>L - Лабораторный корпус ⠀⠀⠀F - Первый корпус</p>
      </div>
    </div>
    <div class="tip">
      <div class="tip__inner">
        <img src="../static/static/chel.svg" alt="Tip" />
        <div class="tip_text">
          <p>выберите вашу группу и неделю, на которую</p>
          <p>хотите посмотреть расписание :)</p>
        </div>
      </div>
    </div>


    <dialog data-modal class="modal">
      <form id="homework-form" method="post">
        <h3>домашнее задание</h3>
        <textarea name="text-input" id="text-input" placeholder="введите домашнее задание..." rows="6"
          readonly></textarea>
        <p class="updated-at"></p>
        <div class="modal-buttons">
          <button type="button" class="btn-cancel">отмена</button>
          <div class="notification inner">
          </div>
          <button type="submit" class="btn-save">сохранить</button>
        </div>
      </form>
    </dialog>

    <div class="notification outer">
    </div>


    <div id="schedule-container">

    </div>

    <script src="../static/js/homepage.js" type="module"></script>
    <script src="../static/js/loadSchedule.js" type="module"></script>
    <script src="../static/js/groupsDropdown.js" type="module"></script>
    <script src="../static/js/datesDropdown.js" type="module"></script>
    <script src="../static/js/dialog.js" type="module"></script>
    <script src="../static/js/authorization.js" type="module"></script>
</body>

</html>