<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>прогинж | журнал </title>
  <link rel="stylesheet" href="../styles/sass/styles.css">
</head>

<body>
  <div class="main">
    <header class="header">
      <nav class="nav">
        <ul class="nav_list">
          <li class="nav_item"><img class="nav_logo" src="../styles/static/logoAndText.svg" alt="Logo"></li>
          <div class="links">
            <li class="nav_item"><a href="" class="selected">журнал</a></li>
            <li class="nav_item"><a href="">рейтинг</a></li>
            <li class="nav_item"><a href="">новости</a></li>
            <img src="../styles/static/lightDarkSwitch.svg" alt="Toggle" class="toggle">
            <img src="../styles/static/ProfileIcon.svg" alt="Profile" class="profile-icon nav_item">
          </div>
        </ul>
      </nav>
    </header>


    <div class="main-content">
      <div class="options">
        <div class="group">
          <div class="custom-select">
            <select>
              <option value="" disabled selected>номер группы</option>
              <option value="">GitHub</option>
              <option value="">Instagram</option>
              <option value="">Facebook</option>
              <option value="">LinkedIn</option>
              <option value="">Twitter</option>
              <option value="">Reddit</option>
            </select>
          </div>
        </div>
        <div class="week">
          <div class="custom-select">
            <select>
              <option value="" disabled selected> дата / неделя</option>
              <option value="">GitHub</option>
              <option value="">Instagram</option>
              <option value="">Facebook</option>
              <option value="">LinkedIn</option>
              <option value="">Twitter</option>
              <option value="">Reddit</option>
            </select>
          </div>
        </div>
        <div class="corpuses">
          <p>C - Центральный корпус⠀⠀⠀⠀B - Бизнес-инкубатор</p>
          <p>L - Лабораторный корпус ⠀⠀⠀F - Первый корпус </p>
        </div>
      </div>

      <div class="tip">
        <img src="../styles/static/chel.svg" alt="">
        <div class="tip_text">
          <p>Выберите вашу группу и неделю, на которую </p>
          <p>хотите посмотреть расписание :)</p>
        </div>
      </div>


    </div>
  </div>

  <script src="../styles/js/script.js"></script>
</body>

</html>