<table class="table table-links-no-underline table-vertical-borders">
  <tbody>
    <tr class="table-row-height-large">
      <th>Время</th>
      <th style="width: 200px">
        <span style="font-size: 0.75rem; margin-bottom: -5px; display: block"
          >17 ноября</span
        >
        Понедельник
      </th>
      <th style="width: 200px">
        <span style="font-size: 0.75rem; margin-bottom: -5px; display: block"
          >18 ноября</span
        >
        Вторник
      </th>
      <th style="width: 200px">
        <span style="font-size: 0.75rem; margin-bottom: -5px; display: block"
          >19 ноября</span
        >
        Среда
      </th>
      <th style="width: 200px" class="schedule-column-today">
        <span style="font-size: 0.75rem; margin-bottom: -5px; display: block"
          >20 ноября</span
        >
        Четверг
      </th>
      <th style="width: 200px">
        <span style="font-size: 0.75rem; margin-bottom: -5px; display: block"
          >21 ноября</span
        >
        Пятница
      </th>
      <th style="width: 200px">
        <span style="font-size: 0.75rem; margin-bottom: -5px; display: block"
          >22 ноября</span
        >
        Суббота
      </th>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          08:10
        </div>
        <div style="min-height: 35px">09:45</div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >Теоретическая информатика,<br /><a
            href="/schedule-frame/lecturer?lecturer=1692&amp;date=2025-11-17"
            >проф. Пруцков А.В.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=134&amp;date=2025-11-17"
            >346&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-2"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Инженерная графика, п.г.&nbsp;1,<br /><a
            href="/schedule-frame/lecturer?lecturer=52&amp;date=2025-11-17"
            >зав. каф. Наумов Д.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=237&amp;date=2025-11-17"
            >414&nbsp;C</a
          >
        </div>
        <div class="schedule-cell-subgroup-item">
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Инженерная графика, п.г.&nbsp;2,<br /><a
            href="/schedule-frame/lecturer?lecturer=42&amp;date=2025-11-17"
            >ст. преп. Иваненко Л.И.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=237&amp;date=2025-11-17"
            >414&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >Математический анализ,<br /><a
            href="/schedule-frame/lecturer?lecturer=1384&amp;date=2025-11-17"
            >доц. Ципоркова К.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=102&amp;date=2025-11-17"
            >465&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Аналитическая геометрия,<br /><a
            href="/schedule-frame/lecturer?lecturer=1384&amp;date=2025-11-17"
            >доц. Ципоркова К.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=136&amp;date=2025-11-17"
            >444&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >Введение в профессиональную деятельность,<br /><a
            href="/schedule-frame/lecturer?lecturer=1381&amp;date=2025-11-17"
            >доц. Крошилина С.В.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=165&amp;date=2025-11-17"
            >267&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-2"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Инженерная графика, п.г.&nbsp;1,<br /><a
            href="/schedule-frame/lecturer?lecturer=52&amp;date=2025-11-17"
            >зав. каф. Наумов Д.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=237&amp;date=2025-11-17"
            >414&nbsp;C</a
          >
        </div>
        <div class="schedule-cell-subgroup-item">
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Инженерная графика, п.г.&nbsp;2,<br /><a
            href="/schedule-frame/lecturer?lecturer=42&amp;date=2025-11-17"
            >ст. преп. Иваненко Л.И.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=237&amp;date=2025-11-17"
            >414&nbsp;C</a
          >
        </div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          09:55
        </div>
        <div style="min-height: 35px">11:30</div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >Программирование,<br /><a
            href="/schedule-frame/lecturer?lecturer=1550&amp;date=2025-11-17"
            >доц. Дмитриева Т.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=164&amp;date=2025-11-17"
            >302&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Элективные дисциплины по физической культуре и спорту,
          <a href="/schedule-frame/classroom?classroom=430&amp;date=2025-11-17"
            >Спортзал&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >Аналитическая геометрия,<br /><a
            href="/schedule-frame/lecturer?lecturer=1384&amp;date=2025-11-17"
            >доц. Ципоркова К.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=102&amp;date=2025-11-17"
            >465&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Элективные дисциплины по физической культуре и спорту,
          <a href="/schedule-frame/classroom?classroom=430&amp;date=2025-11-17"
            >Спортзал&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-2"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Программирование, п.г.&nbsp;1,<br /><a
            href="/schedule-frame/lecturer?lecturer=1754&amp;date=2025-11-17"
            >ас. Баконин Д.В.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=294&amp;date=2025-11-17"
            >206-3&nbsp;C</a
          >
        </div>
        <div class="schedule-cell-subgroup-item">
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Программирование, п.г.&nbsp;2,<br /><a
            href="/schedule-frame/lecturer?lecturer=1755&amp;date=2025-11-17"
            >ас. Антонушкина С.Д.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=294&amp;date=2025-11-17"
            >206-3&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-2"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Инженерная графика, п.г.&nbsp;1,<br /><a
            href="/schedule-frame/lecturer?lecturer=52&amp;date=2025-11-17"
            >зав. каф. Наумов Д.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=237&amp;date=2025-11-17"
            >414&nbsp;C</a
          >
        </div>
        <div class="schedule-cell-subgroup-item">
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Инженерная графика, п.г.&nbsp;2,<br /><a
            href="/schedule-frame/lecturer?lecturer=42&amp;date=2025-11-17"
            >ст. преп. Иваненко Л.И.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=237&amp;date=2025-11-17"
            >414&nbsp;C</a
          >
        </div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          11:40
        </div>
        <div style="min-height: 35px">13:15</div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >Введение в профессиональную деятельность,<br /><a
            href="/schedule-frame/lecturer?lecturer=1381&amp;date=2025-11-17"
            >доц. Крошилина С.В.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=115&amp;date=2025-11-17"
            >405&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Математический анализ,<br /><a
            href="/schedule-frame/lecturer?lecturer=1384&amp;date=2025-11-17"
            >доц. Ципоркова К.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=167&amp;date=2025-11-17"
            >403&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >История России,<br /><a
            href="/schedule-frame/lecturer?lecturer=1258&amp;date=2025-11-17"
            >доц. Щевьёв А.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=117&amp;date=2025-11-17"
            >442&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Основы государственности,<br /><a
            href="/schedule-frame/lecturer?lecturer=1258&amp;date=2025-11-17"
            >доц. Щевьёв А.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=216&amp;date=2025-11-17"
            >450&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Программирование,<br /><a
            href="/schedule-frame/lecturer?lecturer=1550&amp;date=2025-11-17"
            >доц. Дмитриева Т.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=264&amp;date=2025-11-17"
            >206-4&nbsp;C</a
          >
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          13:35
        </div>
        <div style="min-height: 35px">15:10</div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Иностранный язык, Иностранный язык, п.г.&nbsp;1,<br /><a
            href="/schedule-frame/lecturer?lecturer=1291&amp;date=2025-11-17"
            >доц. ИнЯз Галицына И.В.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=122&amp;date=2025-11-17"
            >322&nbsp;C</a
          >
        </div>
        <div class="schedule-cell-subgroup-item">
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Иностранный язык, Иностранный язык, п.г.&nbsp;2,<br /><a
            href="/schedule-frame/lecturer?lecturer=59&amp;date=2025-11-17"
            >ст. преп. Конькова Д.П.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=110&amp;date=2025-11-17"
            >316&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Основы государственности,<br /><a
            href="/schedule-frame/lecturer?lecturer=1258&amp;date=2025-11-17"
            >доц. Щевьёв А.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=216&amp;date=2025-11-17"
            >450&nbsp;C</a
          >
        </div>
      </td>
      <td
        class="schedule-cell schedule-lesson-type-2"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Теоретическая информатика, п.г.&nbsp;1,<br /><a
            href="/schedule-frame/lecturer?lecturer=24&amp;date=2025-11-17"
            >ст. преп. Щенёва Ю.Б.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=264&amp;date=2025-11-17"
            >206-4&nbsp;C</a
          >
        </div>
        <div class="schedule-cell-subgroup-item">
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-microscope table-icon"></i>Лаб. </span
          >Теоретическая информатика, п.г.&nbsp;2,<br /><a
            href="/schedule-frame/lecturer?lecturer=39&amp;date=2025-11-17"
            >доц. Филатов И.Ю.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=264&amp;date=2025-11-17"
            >206-4&nbsp;C</a
          >
        </div>
      </td>
      <td></td>
      <td
        class="schedule-cell schedule-lesson-type-3"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-function-variant table-icon"></i>Упр. </span
          >Основы государственности,<br /><a
            href="/schedule-frame/lecturer?lecturer=1258&amp;date=2025-11-17"
            >доц. Щевьёв А.А.</a
          >, ауд.
          <a href="/schedule-frame/classroom?classroom=216&amp;date=2025-11-17"
            >450&nbsp;C</a
          >
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          15:20
        </div>
        <div style="min-height: 35px">16:55</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          17:05
        </div>
        <div style="min-height: 35px">18:40</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          18:50
        </div>
        <div style="min-height: 35px">20:15</div>
      </td>
      <td></td>
      <td
        class="schedule-cell schedule-lesson-type-1"
        style="vertical-align: top"
      >
        <div>
          <span class="schedule-lesson-type-badge">
            <i class="mdi mdi-book-open-variant-outline table-icon"></i
            >Лек. </span
          >История России (СДО)<br /><span class="badge-distance"
            >Дистанционное обучение</span
          >
        </div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td style="vertical-align: top">
        <div style="font-weight: bold; font-size: 1rem; margin-top: 3px">
          20:25
        </div>
        <div style="min-height: 35px">21:50</div>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
